<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654963857570-cnoifnu3php3cpa8ef0bf2o97qbcu203.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654963857570-cnoifnu3php3cpa8ef0bf2o97qbcu203</string>
	<key>API_KEY</key>
	<string>AIzaSyCoHMUwogUsouNiWRTmHjzF59nr5C_U6BU</string>
	<key>GCM_SENDER_ID</key>
	<string>654963857570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mcfb.fooddelivery</string>
	<key>PROJECT_ID</key>
	<string>firemcfb</string>
	<key>STORAGE_BUCKET</key>
	<string>firemcfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654963857570:ios:1a082d08a1b03385275ffb</string>
	<key>DATABASE_URL</key>
	<string>https://firemcfb.firebaseio.com</string>
</dict>
</plist>